* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial, sans-serif;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.c-item {
  height: 480px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

#card-opcao {
  width: 300px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
}

#card-opcao img {
  width: 100%;
  height: auto;
  filter: brightness(50%);
}